<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTransportistas"
        tools:targetApi="31">
        <activity
            android:name=".gRPCActivity"
            android:exported="false" />
        <activity
            android:name=".cobrarguias.CobrarGuiasActivity"
            android:exported="false" />
        <activity
            android:name=".verproductos.VerProductosActivity"
            android:exported="false" />
        <activity
            android:name=".seleccionarguia.SelecGuiaActivity"
            android:exported="false" />
        <activity
            android:name=".misguias.MisGuiasActivity"
            android:exported="false" />
        <activity
            android:name=".registrarentregaguias.RegGuiasActivity"
            android:exported="false" />
        <activity
            android:name=".menu.MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>